<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CROSMediator</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CROSMediator</display-name>
		<servlet-name>CROSMediator</servlet-name>
		<servlet-class>com.barclays.iportal.cros.CROSMediator</servlet-class>
		<init-param>
			<param-name>proxyServerPort</param-name>
			<param-value>10000</param-value>
		</init-param>
		<init-param>
			<param-name>crossMediatorWebPort</param-name>
			<param-value>8080</param-value>
		</init-param>

		<init-param>
			<param-name>url-pattern-routing-1</param-name>
			<param-value>/examples,bdspukd00003764-80</param-value>
		</init-param>

		<init-param>
			<param-name>url-pattern-routing-2</param-name>
			<param-value>/myexamples/,bdspukd00003764-8080</param-value>
		</init-param>
<!--
		<init-param>
			<param-name>url-pattern-routing-1</param-name>
			<param-value>/olb/portalidp,bdspukd00026039-8082,Tushar's machine</param-value>
		</init-param>

		<init-param>
			<param-name>url-pattern-routing-2</param-name>
			<param-value>/olb/portalbos,bdspind70186954-8081,Praphul’s machine</param-value>
		</init-param>
		<init-param>
			<param-name>url-pattern-routing-3</param-name>
			<param-value>/myexamples/,bdspukd00003764-8080</param-value>
		</init-param>

		<init-param>
			<param-name>url-pattern-routing-4</param-name>
			<param-value>/myexamples/,bdspukd00003764-8080</param-value>
		</init-param>
 -->

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CROSMediator</servlet-name>
		<url-pattern>/call</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
